USE [QuanLyBanDienThoai]
GO
/****** Object:  Table [dbo].[ChiTietSanPham]    Script Date: 11/26/2022 10:05:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDSP] [int] NULL,
	[IDNCC] [int] NULL,
	[SoLuong] [int] NULL,
	[Ram] [nvarchar](50) NULL,
	[XuatXu] [nvarchar](50) NULL,
	[Camera] [nvarchar](50) NULL,
	[ManHinh] [nvarchar](50) NULL,
	[BoNho] [nvarchar](50) NULL,
	[MauSac] [nvarchar](50) NULL,
	[GiaNhap] [float] NULL,
	[GiaBan] [float] NULL,
	[Image] [nvarchar](50) NULL,
	[Barcode] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](100) NULL,
	[MoTa] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChiTietSanPham] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangSanPham]    Script Date: 11/26/2022 10:05:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangSanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaHangSP] [nvarchar](50) NULL,
	[TenHangSP] [nvarchar](100) NULL,
 CONSTRAINT [PK_HangSanPham] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhThucGiaoHang]    Script Date: 11/26/2022 10:05:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhThucGiaoHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenHTGH] [nvarchar](100) NULL,
 CONSTRAINT [PK_HinhThucGiaoHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhThucThanhToan]    Script Date: 11/26/2022 10:05:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhThucThanhToan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenHTTT] [nvarchar](100) NULL,
 CONSTRAINT [PK_HinhThucThanhToan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/26/2022 10:05:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDKhachHang] [int] NULL,
	[IDNhanVien] [int] NULL,
	[IDHinhTTT] [int] NULL,
	[IDHinhTGH] [int] NULL,
	[MaHD] [nvarchar](50) NULL,
	[NgayTao] [date] NULL,
	[NgayThanhToan] [date] NULL,
	[NgayNhanHang] [date] NULL,
	[NgayGiaoHang] [date] NULL,
	[NgayKhachNhanHang] [date] NULL,
	[TienKhachCanTra] [float] NULL,
	[TongTien] [float] NULL,
	[SdtNguoiNhan] [nvarchar](50) NULL,
	[PhanTramGiamGia] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[Mota] [nvarchar](100) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonChiTiet]    Script Date: 11/26/2022 10:05:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonChiTiet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDSP] [int] NULL,
	[IDHoaDon] [int] NULL,
	[SoLuong] [int] NULL,
	[TienThua] [float] NULL,
	[DonGia] [float] NULL,
	[TienGiamGia] [float] NULL,
 CONSTRAINT [PK_HoaDonChiTiet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/26/2022 10:05:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [nvarchar](50) NULL,
	[HoVaTen] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[MoTa] [nvarchar](100) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 11/26/2022 10:05:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaKM] [nvarchar](50) NULL,
	[Ten] [nvarchar](100) NULL,
	[NgayBD] [date] NULL,
	[NgayKT] [date] NULL,
	[GiamGia] [float] NULL,
	[HinhThuc] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[Mota] [nvarchar](100) NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 11/26/2022 10:05:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [nvarchar](50) NULL,
	[TenNCC] [nvarchar](100) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/26/2022 10:05:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [nvarchar](50) NULL,
	[HoVaTen] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[VaiTro] [bit] NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuKien]    Script Date: 11/26/2022 10:05:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuKien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaPhuKien] [nvarchar](50) NULL,
	[TenPhuKien] [nvarchar](100) NULL,
 CONSTRAINT [PK_PhuKien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/26/2022 10:05:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDKM] [int] NULL,
	[IDPK] [int] NULL,
	[IDHang] [int] NULL,
	[MaSP] [nvarchar](50) NULL,
	[TenSp] [nvarchar](100) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietSanPham] ON 

INSERT [dbo].[ChiTietSanPham] ([ID], [IDSP], [IDNCC], [SoLuong], [Ram], [XuatXu], [Camera], [ManHinh], [BoNho], [MauSac], [GiaNhap], [GiaBan], [Image], [Barcode], [TrangThai], [MoTa]) VALUES (1, 1, 1, 123, N'2G', N'Mỹ', N'1 Mắt', N'2 inch', N'16GB', N'Đen', 5000000, 6000000, NULL, NULL, N'Còn Hàng', N'Iphone')
INSERT [dbo].[ChiTietSanPham] ([ID], [IDSP], [IDNCC], [SoLuong], [Ram], [XuatXu], [Camera], [ManHinh], [BoNho], [MauSac], [GiaNhap], [GiaBan], [Image], [Barcode], [TrangThai], [MoTa]) VALUES (2, 2, 1, 11, N'2G', N'Nhật Bản', N'1 Mắt', N'2 inch', N'16GB', N'Đen', 5000000, 6000000, NULL, NULL, N'Còn Hàng', N'Iphone')
INSERT [dbo].[ChiTietSanPham] ([ID], [IDSP], [IDNCC], [SoLuong], [Ram], [XuatXu], [Camera], [ManHinh], [BoNho], [MauSac], [GiaNhap], [GiaBan], [Image], [Barcode], [TrangThai], [MoTa]) VALUES (3, 3, 1, 43, N'2G', N'Mỹ', N'1 Mắt', N'3 inch', N'16GB', N'Trắng', 5000000, 6000000, NULL, NULL, N'Còn Hàng', N'Iphone')
SET IDENTITY_INSERT [dbo].[ChiTietSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[HangSanPham] ON 

INSERT [dbo].[HangSanPham] ([ID], [MaHangSP], [TenHangSP]) VALUES (1, N'HSP01', N'APPLE')
INSERT [dbo].[HangSanPham] ([ID], [MaHangSP], [TenHangSP]) VALUES (2, N'HSP02', N'SAMSUNG')
INSERT [dbo].[HangSanPham] ([ID], [MaHangSP], [TenHangSP]) VALUES (3, N'HSP03', N'OPPO')
SET IDENTITY_INSERT [dbo].[HangSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[HinhThucGiaoHang] ON 

INSERT [dbo].[HinhThucGiaoHang] ([ID], [TenHTGH]) VALUES (1, N'Tại Quầy')
INSERT [dbo].[HinhThucGiaoHang] ([ID], [TenHTGH]) VALUES (2, N'Khác')
SET IDENTITY_INSERT [dbo].[HinhThucGiaoHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HinhThucThanhToan] ON 

INSERT [dbo].[HinhThucThanhToan] ([ID], [TenHTTT]) VALUES (1, N'Tiền Mặt')
INSERT [dbo].[HinhThucThanhToan] ([ID], [TenHTTT]) VALUES (2, N'Quẹt Thẻ')
INSERT [dbo].[HinhThucThanhToan] ([ID], [TenHTTT]) VALUES (3, N'Quét Mã')
SET IDENTITY_INSERT [dbo].[HinhThucThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([ID], [IDKhachHang], [IDNhanVien], [IDHinhTTT], [IDHinhTGH], [MaHD], [NgayTao], [NgayThanhToan], [NgayNhanHang], [NgayGiaoHang], [NgayKhachNhanHang], [TienKhachCanTra], [TongTien], [SdtNguoiNhan], [PhanTramGiamGia], [TrangThai], [Mota]) VALUES (1, 1, 1, 1, 1, N'HD01', CAST(N'2022-11-26' AS Date), CAST(N'2022-11-26' AS Date), NULL, NULL, NULL, 6000000, 6000000, N'0971066455', NULL, N'Đã Thanh Toán', NULL)
INSERT [dbo].[HoaDon] ([ID], [IDKhachHang], [IDNhanVien], [IDHinhTTT], [IDHinhTGH], [MaHD], [NgayTao], [NgayThanhToan], [NgayNhanHang], [NgayGiaoHang], [NgayKhachNhanHang], [TienKhachCanTra], [TongTien], [SdtNguoiNhan], [PhanTramGiamGia], [TrangThai], [Mota]) VALUES (2, 2, 1, 1, 1, N'HD02', CAST(N'2022-11-26' AS Date), CAST(N'2022-11-26' AS Date), NULL, NULL, NULL, 7000000, 7000000, N'0912437432', NULL, N'Đã Thanh Toán', NULL)
INSERT [dbo].[HoaDon] ([ID], [IDKhachHang], [IDNhanVien], [IDHinhTTT], [IDHinhTGH], [MaHD], [NgayTao], [NgayThanhToan], [NgayNhanHang], [NgayGiaoHang], [NgayKhachNhanHang], [TienKhachCanTra], [TongTien], [SdtNguoiNhan], [PhanTramGiamGia], [TrangThai], [Mota]) VALUES (3, 2, 3, 1, 1, N'HD03', CAST(N'2022-11-26' AS Date), CAST(N'2022-11-26' AS Date), NULL, NULL, NULL, 7000000, 7000000, N'0912437432', NULL, N'Đã Thanh Toán', NULL)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDonChiTiet] ON 

INSERT [dbo].[HoaDonChiTiet] ([ID], [IDSP], [IDHoaDon], [SoLuong], [TienThua], [DonGia], [TienGiamGia]) VALUES (1, 1, 1, 1, 230000, 6000000, NULL)
INSERT [dbo].[HoaDonChiTiet] ([ID], [IDSP], [IDHoaDon], [SoLuong], [TienThua], [DonGia], [TienGiamGia]) VALUES (2, 5, 2, 1, 240000, 7000000, NULL)
INSERT [dbo].[HoaDonChiTiet] ([ID], [IDSP], [IDHoaDon], [SoLuong], [TienThua], [DonGia], [TienGiamGia]) VALUES (3, 6, 3, 1, 230000, 7000000, NULL)
SET IDENTITY_INSERT [dbo].[HoaDonChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([ID], [MaKH], [HoVaTen], [SoDienThoai], [NgaySinh], [DiaChi], [GioiTinh], [MoTa]) VALUES (1, N'KH01', N'Hoàng Công Đức', N'0971066455', CAST(N'2003-08-28' AS Date), N'Phú Thọ', N'Nam', N'Khách Hàng')
INSERT [dbo].[KhachHang] ([ID], [MaKH], [HoVaTen], [SoDienThoai], [NgaySinh], [DiaChi], [GioiTinh], [MoTa]) VALUES (2, N'KH02', N'Nguyễn Mạnh Hiếu', N'0912437432', CAST(N'2003-12-22' AS Date), N'Lào Cai', N'Nam', N'Khách Hàng')
INSERT [dbo].[KhachHang] ([ID], [MaKH], [HoVaTen], [SoDienThoai], [NgaySinh], [DiaChi], [GioiTinh], [MoTa]) VALUES (3, N'KH03', N'Hoàng Minh Huy', N'0238923442', CAST(N'2003-11-12' AS Date), N'Hà Nội', N'Nam', N'Khách Hàng')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([ID], [MaKM], [Ten], [NgayBD], [NgayKT], [GiamGia], [HinhThuc], [TrangThai], [Mota]) VALUES (1, N'KM01', N'Chương Trình Khuyến Mãi', CAST(N'2022-11-26' AS Date), CAST(N'2022-11-29' AS Date), 20, N'Giảm Giá Sản Phẩm', N'Hoạt Động', N'Điều khoản & Điều kiện trong chương trình khuyến mãi Sản Phẩm')
INSERT [dbo].[KhuyenMai] ([ID], [MaKM], [Ten], [NgayBD], [NgayKT], [GiamGia], [HinhThuc], [TrangThai], [Mota]) VALUES (2, N'KM02', N'Chương Trình Khuyến Mãi', CAST(N'2022-11-29' AS Date), CAST(N'2022-12-02' AS Date), 25, N'Giảm Giá Sản Phẩm', N'Hoạt Động', N'Điều khoản & Điều kiện trong chương trình khuyến mãi Sản Phẩm')
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([ID], [MaNCC], [TenNCC]) VALUES (1, N'NCC01', N'APPLE')
INSERT [dbo].[NhaCungCap] ([ID], [MaNCC], [TenNCC]) VALUES (2, N'NCC02', N'SAMSUNG')
INSERT [dbo].[NhaCungCap] ([ID], [MaNCC], [TenNCC]) VALUES (3, N'NCC03', N'OPPO')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([ID], [MaNV], [HoVaTen], [DiaChi], [GioiTinh], [SDT], [Email], [TaiKhoan], [MatKhau], [VaiTro], [TrangThai]) VALUES (1, N'NV01', N'Hoàng Công Đức', N'Phú Thọ', N'Nam', N'0971066455', N'duchcph22577@fpt.edu.vn', N'duchcph22577', N'123', 1, N'Hoạt Động')
INSERT [dbo].[NhanVien] ([ID], [MaNV], [HoVaTen], [DiaChi], [GioiTinh], [SDT], [Email], [TaiKhoan], [MatKhau], [VaiTro], [TrangThai]) VALUES (2, N'NV02', N'Bùi Quang Huy', N'Hà Nội', N'Nam', N'0238423432', N'huybqph22581@fpt.edu.vn', N'huybqph22581', N'123', 1, N'Hoạt Động')
INSERT [dbo].[NhanVien] ([ID], [MaNV], [HoVaTen], [DiaChi], [GioiTinh], [SDT], [Email], [TaiKhoan], [MatKhau], [VaiTro], [TrangThai]) VALUES (3, N'NV03', N'Nam Nguyễn Đức', N'Hà Nội', N'Nam', N'0934837423', N'namndph22694@fpt.edu.vn', N'namndph22694', N'123', 1, N'Hoạt Động')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhuKien] ON 

INSERT [dbo].[PhuKien] ([ID], [MaPhuKien], [TenPhuKien]) VALUES (1, N'PK01', N'Tai Nghe')
INSERT [dbo].[PhuKien] ([ID], [MaPhuKien], [TenPhuKien]) VALUES (2, N'PK02', N'Sạc Dự Phòng')
SET IDENTITY_INSERT [dbo].[PhuKien] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([ID], [IDKM], [IDPK], [IDHang], [MaSP], [TenSp]) VALUES (1, 1, 1, 1, N'SP01', N'Iphone 5')
INSERT [dbo].[SanPham] ([ID], [IDKM], [IDPK], [IDHang], [MaSP], [TenSp]) VALUES (2, 1, 1, 1, N'SP02', N'Iphone 5s')
INSERT [dbo].[SanPham] ([ID], [IDKM], [IDPK], [IDHang], [MaSP], [TenSp]) VALUES (3, 1, 1, 1, N'SP03', N'Iphone 6')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPham_NhaCungCap] FOREIGN KEY([IDNCC])
REFERENCES [dbo].[NhaCungCap] ([ID])
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [FK_ChiTietSanPham_NhaCungCap]
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPham_SanPham] FOREIGN KEY([IDSP])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [FK_ChiTietSanPham_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_HinhThucGiaoHang] FOREIGN KEY([IDHinhTGH])
REFERENCES [dbo].[HinhThucGiaoHang] ([ID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_HinhThucGiaoHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_HinhThucThanhToan] FOREIGN KEY([IDHinhTTT])
REFERENCES [dbo].[HinhThucThanhToan] ([ID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_HinhThucThanhToan]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHang] ([ID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[NhanVien] ([ID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonChiTiet_HoaDon] FOREIGN KEY([IDHoaDon])
REFERENCES [dbo].[HoaDon] ([ID])
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [FK_HoaDonChiTiet_HoaDon]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonChiTiet_SanPham] FOREIGN KEY([IDSP])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [FK_HoaDonChiTiet_SanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_HangSanPham] FOREIGN KEY([IDHang])
REFERENCES [dbo].[HangSanPham] ([ID])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_HangSanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_KhuyenMai] FOREIGN KEY([IDKM])
REFERENCES [dbo].[KhuyenMai] ([ID])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_KhuyenMai]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_PhuKien] FOREIGN KEY([IDPK])
REFERENCES [dbo].[PhuKien] ([ID])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_PhuKien]
GO
